
.card {
    width: calc(100% / 6 - 20px);
    color: white;
    text-align: left;
}
.thumb{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden; 
}
.thumb img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
    object-position: top;
}
.title{
    padding-top: 10px;
    font-size: 13px;
    height: 40px;
}

@media (max-width: 992px) {
    .card {
        width: calc(100% / 3 - 20px);
    }
}
@media (max-width: 576px) {
    .card {
        width: calc(100% / 2 - 20px);
    }
}