.card {
    width: calc(100%/6 -20px);
    
    color: white;
    text-align: left;
}

.card img {
    width:180px;
    height: 180px;
    object-fit:cover;
    display: block;
}
.title{
    padding-top: 10px;
    font-size: 13px;
    height: 40px;
    
}
