.main {
    background-color: #1c1c1c;
}

.cards-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 0;
    position: relative;
}
.baner{
    width: 100%;
    height: 400px;
    background-image: url(public/img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.loadMore{
    background-color:  rgb(0, 126, 205);
    color: white;
    font-family: "Oswald", sans-serif;
    padding: 8px 60px;
    border: none;
}
.button-loadMore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.lable{
    font-family: "Oswald", sans-serif;
    margin-top: -20px;
}