.main {
    background-color: #1c1c1c;
}

.cards-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
    height: 700px;
    
}
.baner{
    width: 100%;
    height: 400px;
    background-image: url(public/img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}